h1{
    font-family: 'Rampart One', cursive;
text-align: center;
}


.fas{
font-size: 6vw;
color: red;
border: solid 1px black;
background-color: purple;
padding: 13px;
border-radius: 70px;
margin-right: 70vw;
}

button{
padding: 15px;
border-radius: 60px;
background-color: red;

}
nav{
background-color: royalblue;
}