h1{
    font-family: 'Press Start 2P', cursive;
text-align: center;
color: rgba(77, 16, 192, 0.973);
}


.fas{
    font-size: 4vw;
    color: blue;
    border: solid 1px black;
    background-color: purple;
    padding: 10px;
    border-radius: 180px;
    margin-right: 0vw;

}

    nav{
        background-color: gold;
    height: 100vh;
    
    }
    


button{
padding: 15px;
width: 33%;
height: 10vh;
border-radius: 60px;
background-color: green;
float: right;

}



body{
    background-color: blue;

}
header{
    background-color: gold;
    width: 100%;
    height: 10vh;
 
    border-width: 2px;
    margin-bottom: 1vh;

}
intro{
    background-color: gold;
    width: 100%;
    height: 50vh;
    padding-bottom: 50%;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 1vh;


}



section{
background-color:black;
width: 60%;
height: 61.4vh; 
border: solid 2px;
border-color: purple;
margin-bottom: 1vh;
float: right;
}

words{
    border-radius: 75px;
width: 450;
height: 250;

}



article{
background-color: rgba(165, 42, 42, 0.479);
width: 60%;
height: 60vh;
border: solid 7px;
border-color:chartreuse;
margin-top: 1vh;
margin-bottom: 1vh;
float: right;
 }

 Aside{
background-color: rgba(255, 255, 255, 0.342);
width: 60%;
height: 50vh;
border: solid 8px;
border-color: rgb(221, 192, 255);
margin-bottom: 1vh;
float: left;
}
text{
    background-color: rgba(0, 128, 0, 0.397);
    width: 60%;
    height: 60vh;
    border: solid 9px;
    border-color:darkgoldenrod;
    margin-bottom: 1vh;
    float: right;
}


crue{
    background-color:rgba(25, 25, 165, 0.445);
    width: 60%;
    height: 60vh;
    border: solid 7px;
    border-color:rgb(153, 106, 4);
    margin-top: 1vh;
    margin-bottom: 1vh;
    float: left;
     }

     predator{
        background-color:rgba(214, 150, 12, 0.404);
        width: 68%;
        height: 57vh;
        border: solid 7px;
        border-color:rgb(111, 23, 122);
        margin-top: 1vh;
        margin-bottom: 1vh;
        float: right;
         }

poison{
        background-color:rgba(214, 150, 12, 0.404);
        width: 60%;
        height: 57vh;
        border: solid 7px;
        border-color:rgb(111, 23, 122);
        margin-top: 1vh;
        margin-bottom: 1vh;
        float: left;
         }





paragraph{
    background-color: blueviolet;
    width: 98%;
    height: 97vh;
    border-radius: 20%;
    border: solid 9px;
    border-color: cornflowerblue;
    margin-bottom: 5vh;
    text-align: center;
    float: left;


}

.imgR{
border-radius: 35px;


}


a:hover {
color: green;
}
a:active {
color:indigo;
}